.main_nav{
    display: flex;
    background-color:  #d3e1ee;
    width: 100%;
    padding-left: 50px;
}
.nav_link_head {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: 20px;
    text-align: center;
    display: flex;
}

.nav_link {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    line-height: 70px;
}

