.intro_div{
    background-color: #d3e1ee;
    height: 150vh;
    width: 100%;
    align-items: center;
    display: block;
    font-size: large;
    padding-top: 5vh;
}


.scroll_box_1, .scroll_box_2{
  margin: auto;
  display: block;
  width: 70%;
  height: 100vh;
  text-align: center;
}

.displaypic{
  margin-top: 5vh;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5vh;
  align-self: center;

}

.scroll_box_2{
  transition: transform 0.5s ease;
}
.scroll_box_2.show{
  transform: translateY(0px);
}

.scroll_box_2.hide{
  transform: translateY(20px);
} 


