.intro_div{
    background-color: #d3e1ee;
    text-align: center;
    padding: 100px;
    height: 350px;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom: solid 40px #e9cdde;
    overflow-x: hidden;
}

.intro_div > p {
    width: 500px;
    align-items: center;
    margin: auto;
}

.intro_div > img {
    border-radius: 50%;
    height: 200px;
}

.body_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.more_info_p{
    margin-top: 50px;
    text-align: center;
    width: 50%;
}

.main_back{
    background-color: #f3f6f4;
}