.intro_div{
    background-color: #d3e1ee;
    height: 100vh;
    width: 100%;
    align-items: center;
    display: block;
    font-size: large;
    padding-top: 5vh;
    overflow-y: scroll;
    scroll-behavior: smooth; 
    scroll-snap-type: y mandatory;
    scrollbar-width: none;   /* Firefox */
    -ms-overflow-style: none; 
}

.scroll_box_1, .scroll_box_2{
  margin: auto;
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  scroll-snap-align: start;
}

.displaypic{
  margin-top: 5vh;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 5vh;
  align-self: center;
}

.scroll_box_2{
  animation: appear ;
  animation-timeline: view();
  animation-duration: 1s;
  font-size: larger;
  
}

@keyframes appear{
  from {
    opacity: 0;
    scale: 0.5
    
  }
  to {
    opacity: 1;
   scale: 1;
    
  }
}
